@font-face {
    font-family: 'Poppins';
    src: url('../Poppins/Poppins-Light.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins-Bold';
    src: url('../Poppins/Poppins-Bold.ttf') format('woff2');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Brush';
    src: url('../Brush Script MT/BRUSHSCI.TTF') format('woff2');
    font-weight: lighter;
    font-style: normal;
  }

  /* Prevent horizontal scrolling */
html, body {
  overflow-x: hidden; /* No horizontal scrolling */
  width: 100%;
  margin: 0;
  padding: 0;
}
#calendar{
    color:#00312c;
    margin:4rem;
    padding:1rem;
    padding-top: 0;
    font-family:'Poppins';
}

.fc-daygrid-event {
  border-color:transparent !important;
}

header{
    padding:0rem;
    background-color:#00312c;
    margin:0;
    color:white;
    font-family: 'Poppins';
    font-size: 14px;

    display: flex;
    flex-direction: row;
    gap:1rem;
    padding-left:8rem;
    /*justify-content: center; þetta lætur fara til hliðar í miðjuna*/
    /*align-items er held ég upp og niður í miðjunni*/
}

header p{
    text-align:center;
}

p{
  font-family: 'Poppins';
  padding: 0rem;
}

.difficulty p{
  margin:0;
  margin-right:10rem;
  padding:0rem;
  margin-right:12rem;
}

.fc-scrollgrid {
    height: 100%; /* Make the grid fill the container */
  }

body{
    margin:0;
}
h1{
    font-family:'Poppins';
}

.box{
    box-sizing: border-box;
    text-align: center;
    
    padding:5rem;
    padding-top:4rem;
    padding-bottom:4rem;
    background-color:#16554d;
    font-family:"Poppins";
    color:white;
}

.box label{
    font-size: 42pt;
    font-family:'Poppins-Bold'
}

.box1{
    box-sizing: border-box;
    text-align: center;
    font-size: 22pt;
    padding:0rem;
    padding-left:8rem;
    background-color:white;
    font-family:"Poppins";
    color:white;
}

.fc-event.p-22 {
    padding: 0rem;}
  
img{
    display:block;
    width:9%;
    height:auto;
    padding:0;
    margin:0;
}

.texti{
    font-family:'Poppins';
    padding-left:9rem;
    padding-right: 9rem;
    padding-top:3rem;
    font-weight:400;
    color:#00312c;
    font-size: 16px;
    line-height: 27px;
}

footer{
  background-color:#16554d;
  padding:0rem;
  font-family:'Poppins'
}

.fotur{
  display: flex;
  flex-direction: column;
  text-align: center;
 
  color: white;
  font-size: 14px;
}

.fotur h2{
  color:#D3D3D3;
  padding-top:1rem;
  font-size: 40px;
  font-family: 'Brush'; /*finna letrið*/
}

.nedst{
  display: flex;
  justify-content: space-between;
  padding:1rem;
  margin:0;
}
.nedst p{
margin:0;
padding:0;
}

  .fc-multi-month-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .fc-event-time{
    display: none !important; 

  }

  .fc-event-title{
    color:#3B3024;
    font-family:'Poppins-Bold';
  }
  .fc-event-main{
    color:#3B3024;
    font-family:'Poppins-Bold';
    /*margin:0.3rem; ef ég vil að eventarnir overlappi smá*/ 
  }
  
  .fc-event-title-container{
    padding:.5rem; /*þetta er ekki að gera neitt held ég*/
  }
  

  .fc-daygrid-event:hover{
    opacity: 1;
  }

  .fc-daygrid-day-number{
    color:#3B3024;
  }


  .linkar{
    text-decoration: none;
    color:white;
  }

  .fc-today-button.fc-button.fc-button-primary{
    display:none;
  }
  
  .jaa{
    color:#DCDCDC;
    margin-bottom: 0.5rem;
    margin-left:0.5rem;
  }

  .jaa span{
    font-family: 'Poppins';
  }
  .difficulties{
    display:flex;
    flex-direction: column;
    gap:1rem;
  }

  .hringur{
    width: 20px;
    height: 20px;
    margin:0rem;
    background-color: #8A9A5B; 
    border-radius: 50%;
    margin-left:15rem;
    flex-shrink: 0;
  }
  .hringur2{
    width: 20px;
    height: 20px;
    margin:0rem;
    background-color:#2C5F2D ; 
    border-radius: 50%;
    margin-left:15rem;
    flex-shrink: 0;
  }
  .hringur3{
    width: 20px;
    height: 20px;
    margin:0rem;
    background-color:#6B3F1F ; 
    border-radius: 50%;
    margin-left:15rem ;
    flex-shrink: 0;
  }

.difficulty{
  display:flex;
  align-items: flex-start;
  gap:0.7rem;
}
#elementToPopUp {
  display: none;
  color:red;
}

.tippy-box[data-theme~='custom']{
  background-color: 'red'; 
  color: #ecf0f1;
  font-size: 12px;
  border-radius: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Poppins';
}

.tippy-box[data-theme~='custom'] .tippy-content{
  background-color:#36454F;
  padding:1rem;
}

.checkbogcal{
  display:flex;
  flex-direction:column;
  
  align-items:baseline;
  padding-top:7rem;
  font-family: 'Poppins';
}

.checkb{
  padding-left:2rem;
  margin-left:2rem;
}



