@font-face {
    font-family: 'Poppins';
    src: url('../../Poppins/Poppins-Medium.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins-Bold';
    src: url('../../Poppins/Poppins-Bold.ttf') format('woff2');
    font-weight: bold;
    font-style: normal;
  }

#calendar{
    color:#00312c;
    margin:4rem;
    padding:1rem;

    font-family:'Poppins';
}

header{
    padding:0rem;
    background-color:#00312c;
    margin:0;
    color:white;
    font-family: 'Poppins';
    font-size: 14px;

    display: flex;
    flex-direction: row;
    gap:1rem;
    padding-left:8rem;
    /*justify-content: center; þetta lætur fara til hliðar í miðjuna*/
    /*align-items er held ég upp og niður í miðjunni*/
}

header p{
    text-align:center;
}

.fc-scrollgrid {
    height: 100%; /* Make the grid fill the container */
  }

body{
    margin:0;
}
h1{
    font-family:'Poppins';
}

.box{
    box-sizing: border-box;
    text-align: center;
    
    padding:5rem;
    padding-top:4rem;
    padding-bottom:4rem;
    background-color:#16554d;
    font-family:"Poppins";
    color:white;
}

.box label{
    font-size: 42pt;
    font-family:'Poppins-Bold'
}

.box1{
    box-sizing: border-box;
    text-align: center;
    font-size: 22pt;
    padding:0rem;
    padding-left:8rem;
    background-color:white;
    font-family:"Poppins";
    color:white;
}

.fc-event.p-22 {
    padding: 0rem;}
  
img{
    display:block;
    width:9%;
    height:auto;
    padding:0;
    margin:0;
}

.texti{
    font-family:'Poppins';
    padding-left:9rem;
    padding-right: 9rem;
    padding-top:3rem;
    font-weight:400;
    color:#00312c;
    font-size: 16px;
    line-height: 27px;
}

footer{
  background-color:#16554d;
  padding:4rem;
  font-family:'Poppins'
}

.fotur{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:5rem;
  color: white;
  font-size: 14px;
}

  .fc-multi-month-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .fc-event-time{
    display: none !important; 

  }

  .fc-event-title{
    color:#3B3024;
    font-family:'Poppins-Bold';
  }
  .fc-event-main{
    color:#3B3024;
    font-family:'Poppins-Bold';
    /*margin:0.3rem; ef ég vil að eventarnir overlappi smá*/ 
  }
  
  .fc-event-title-container{
    padding:.5rem; /*þetta er ekki að gera neitt held ég*/
  }

  .fc-daygrid-event:hover{
    opacity: 1;
  }

  .fc-daygrid-day-number{
    color:#3B3024;
  }


  .linkar{
    text-decoration: none;
    color:white;
  }

  .fc-today-button.fc-button.fc-button-primary{
    display:none;
  }
  
  .jaa{
    color:#DCDCDC;
    margin-bottom: 0.5rem;
    margin-left:0.5rem;
  }

  .jaa span{
    font-family: 'Poppins';
  }

  .hringur{
    width: 20px;
    height: 20px;
    background-color: #8A9A5B; 
    border-radius: 50%;
    margin-left:9rem;
  }
  .hringur2{
    width: 20px;
    height: 20px;
    background-color:#2C5F2D ; 
    border-radius: 50%;
    margin-left:9rem;
  }
  .hringur3{
    width: 20px;
    height: 20px;
    background-color:#6B3F1F ; 
    border-radius: 50%;
    margin-left:9rem;
  }

.difficulty{
  display:flex;
  align-items: center;
  gap:0.7rem;
}